
/* #region Common Rules */


:root {
    --clr-black: #000000;
    --clr-secondary: #008000;
    --clr-dark: #1A1A1A;
    --clr-primary: #FF0000;
    --clr-nav: #FF6900;
    --clr-white: #FFFFFF;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}


/* #endregion Common Rules */

/* #region Utilities */

li {
    list-style: none;
    display: inline;
}
a{
    text-decoration: none;
    color: var(--clr-white);
}
/* #endregion Utilities */

/* #region Header */

header {
    background-color: var(--clr-nav);
    color: var(--clr-white);
    padding: 1rem;
    position: fixed;
    width: 100vw;
    z-index: 2;
}

header .row {
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 8.5rem;
}
header a{
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0 0.2rem;
    
}
.logo{
    text-align: center;
}
.left{
    text-align: end;
}


/* #endregion Header */

/* #region Main */
main {
    padding-top: 8rem;
    padding-bottom: 3rem;
}
.card:hover .heart {
    color: var(--clr-primary)
}

.card:hover .img_default {
    display: none;
}

.card:hover .img_on_hover {
    display: block;
}

.img_default {
    display: block;
}

.img_on_hover {
    display: none;
}

.heart {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: var(--clr-white);

}

main .picture {
    position: relative;
    font-size: 0.85rem;
    font-weight: bold;
}

main .col-4 {
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    

}

.discount {
    background-color: var(--clr-primary);
    float: left;
    padding: 0.3rem 0.7rem;
    margin-right: 0.5rem;

}

.discount_sostenibility {
    position: absolute;
    left: 0;
    bottom: 2.5rem;
    color: var(--clr-white);

}

.sostenibility {
    background-color: var(--clr-secondary);
    float: left;
    padding: 0.3rem 0.7rem;
}

.discounted_price {
    color: var(--clr-primary);
    font-size: 0.85rem;
    font-weight: bold;
}

.full_price {
    text-decoration: line-through;
    font-size: 0.85rem;
}

.details * {
    margin: 0.1rem;
}
.brend_name{
    font-size: 0.85rem;
}




/* #endregion Main */

/* #region Footer */
footer{
    background-color: var(--clr-dark);
    color: var(--clr-white);
    padding: 2rem;
}
.social_link{
    float: right;
}
footer a{
    font-size: 0.75rem;
}
.sub_title, .society_name{
    margin-bottom: 0.4rem;
}

.social_icons *{
    margin-right: 0.2rem;
} 
 a i{
    font-size: 1rem;
}
/* #endregion Footer */

/* #region Grid Flexbox */